<!DOCTYPE html>
<html>

<head>
    <h1 style="text-align: center; font-size: xx-large;font-weight: bolder;"> Hello , {{name}}</h1>
    <style>
        body {
            background-color: blanchedalmond;
            /* background-image: url(https://opensource.com/sites/default/files/styles/image-full-size/public/lead-images/talk_chat_team_mobile_desktop.png?itok=d7sRtKfQ); */
        }
    </style>

</head>

<body>

    <h2 style="font-size: x-large; font-weight: bold; text-align:center;"> You are Sucessfully Regsitered! </h2>
    <p style="font-size: large; font-weight: bold; text-align: center;"> Please Remember your details for further login
    </p>
</body>

</html>